body{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	margin: 0;
}

#container{
	width: 1000px;
	height: 650px;
	margin: 20px auto;	
	background-image: url(cute.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator{
	width: 360px;
	height: 580px;
	background-color: #bbd5e7;
	margin: 0 auto;
	top:30%
	position: relative;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(0,0,0,0.15);
	overflow: hidden;
}

#result{
	height: 100px;               
    background-color: #d1dcde;   
    margin: 20px 20px 10px 20px; /* Increased the 3rd number (bottom margin) to 25px to push buttons down */
    border-radius: 8px;          
    border: 2px solid #a3b2b5;   
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
    
    /* Keeps giant numbers inside the screen */
    overflow: hidden; 
}

#history{
	text-align: right;
	height: 20px;
	margin: 0 15px;
	padding-top: 15px;
	font-size: 15px;
	color: #1a2324;              /* Crisp "digital ink" color */
    font-family: monospace;
}
#output{
	text-align: right;
	height: 45px;
	margin: 5px 15px;
	font-size: 32px;
	font-weight: bold;
	font-family: monospace;
	font-size: 24px;             /* Dropped from 32px so long numbers fit beautifully */
    white-space: nowrap;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 12px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;

}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #105a80;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #105a80;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #105a80;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #105a80;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #105a80;
}
